.shower .caption p {
  margin-top: .5em;
}
p.venue {
  font-style: italic;
  margin-bottom: 1em;
}

.slide figure.cover.width.margin > :first-child {
  width: 88%
}
.slide h2 + figure.cover.margin > :first-child {
  margin-top: 2em;
}
.slide h2 + figure.cover.height.margin > :first-child {
  height: 66%;
}

.slide h3 {
  margin-bottom: 0;
}

.slide q {
  font-style: italic;
}

.slide.toc h2 {
  display: none;
}

#funding {
  padding-top: 6em;
}
#funding p:before {
  content: "– ";
}

h2.dark {
  color: white;
  text-shadow:
    -1px -1px 0 #453688,
     1px -1px 0 #453688,
    -1px  1px 0 #453688,
     1px  1px 0 #453688;
}

#purpose p {
  font-weight: bold;
  font-size: 1.25em;
  line-height: 1.7;
  margin-top: 3.5em;
}

.slide.no-blockchain h2 {
  font-size: 3em;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  margin: 1.5em auto;
  width: 7em;
}

dt {
  color: #ff6600;
}

iframe.graph {
  width: 1024px;
  height: 492px;
  margin: -30px -60px;
  overflow: hidden;
}

table, th, td {
line-height: 2em;
  border-bottom: 1px solid #ddd;
}

.bigtable {
font-size: 14px;
 
}
img {
width: 80px;
}
